@tailwind base;
@tailwind components;
@tailwind utilities;

.project-description a {
    color: blue;
    text-decoration: underline; /* Optional: Makes links stand out */
  }

  .project-description h1{
    font-size:23px;
  }

  .project-description h2{
    font-size:20px;
  }
  
  .project-description h3{
    font-size:18px;
  }